
<form id="guestbook-form" method="POST" action="https://staticman.calcoasttech.com/v3/entry/github/bryankaraffa/b10a.co/main/guestbook">
  <input name="options[redirect]" type="hidden" value="{{ absURL "/guestbook-success" }}?success=true">
  <label>Name or Callsign <input name="fields[name]" type="text" alt="Name or Callsign" placeholder="Joe Bob"></label><br/>
  <label>Optional Message <br/><textarea name="fields[message]" alt="Message" style="width: 90%; min-width: 100px;" placeholder="Hello!"></textarea></label><br/>
  <input type="text" name="email" id="email" placeholder="Your email" autocomplete="off" tabindex="-1">
  <div class="g-recaptcha" data-sitekey="{{ .Site.Params.reCaptcha.siteKey }}"></div>
  <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ .Site.Params.reCaptcha.siteKey }}">
  <input type="hidden" name="options[reCaptcha][secret]" value="{{ .Site.Params.reCaptcha.secret }}">
  <button type="submit" onclick="submitForm()">
    Submit
  </button>
</form>
<small><i>
  All messages submitted are moderated, and any extra HTML/Markdown will be stripped -- only plaintext messages will be approved.
</i></small><br />

<!-- Attempt to outsmart the robots -->
<script>
  var elementId = ["e", "m", "a", "i", "l"].join("");
  // On Load move a particular form element so it's hidden for carbon-based lifeforms
  var input = document.getElementById(elementId);
  input.setAttribute("style", "position:absolute; left:-2000px;")
  // make it very very very small, 1px by 1px if possible
  input.setAttribute("size", "1px");

  // On Submit action to check if the email field is filled out
  function submitForm() {
    if (document.getElementById(elementId).value || document.getElementById(elementId).value.length > 0) {
      window.clarity("upgrade", "guestbook-robot");
      window.clarity("event", "guestbook-robot");
      // Use JS to hide the form and show a message
      document.getElementById("guestbook-form").innerHTML = "<p>Thank you for your submission! Your message will be reviewed and posted shortly.</p>";
    } else {
      window.clarity("event", "guestbook-submit");
      // If the email field is not filled out, then do a thing
      document.getElementById("guestbook-form").submit();
    }

  }
</script>
